@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
html, body {
  margin: 0;
  padding: 0;
}

/* styles/globals.css or app/globals.css */
footer img[alt="Next.js Logo"] {
  display: none !important;
}
